@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.appContainer {
	margin: 0 auto;
	text-align: center;
	height: calc(100vh - 80px);
}
